<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chunhui.web.mapper.JljsStatsMapper">


    <select id="getClassStatsByDay" resultType="java.util.Map">
        SELECT COUNT(1)                                AS `count`,
               DATE_FORMAT(class_begin_time, '%Y%m%d') AS `day`
        FROM `jljs_class_record`
        where del_flag = '0'
        GROUP BY DATE_FORMAT(class_begin_time, '%Y%m%d')
        ORDER BY DATE_FORMAT(class_begin_time, '%Y%m%d') ASC
    </select>

    <select id="getMemberBirthStats" resultType="java.util.Map">
        SELECT GROUP_CONCAT(member_name)                                                             AS memberName,
               birth_day                                                                             AS birthDay,
               DATE_FORMAT(STR_TO_DATE(CONCAT(YEAR(CURDATE()), '/', birth_day), '%Y/%m/%d'), '%m%d') AS sort
        FROM `jljs_member_info` t1
        WHERE t1.del_flag = '0'
          AND birth_day IS NOT NULL
        GROUP BY birth_day
        ORDER BY CAST(sort AS UNSIGNED)
    </select>


</mapper>