<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chunhui.web.mapper.JljsStatsMapper">


    <select id="getClassStatsByDay" resultType="java.util.Map">
        SELECT COUNT(1)                                AS `count`,
               DATE_FORMAT(class_begin_time, '%Y%m%d') AS `day`
        FROM `jljs_class_record`
        GROUP BY DATE_FORMAT(class_begin_time, '%Y%m%d')
        ORDER BY DATE_FORMAT(class_begin_time, '%Y%m%d') ASC
    </select>


</mapper>